<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>preksha-001-site1.ftempurl.com</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://preksha-001-site1.ftempurl.com:8172/MsDeploy.axd?site=preksha-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>preksha-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>ifc\preksha-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="LTRSConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5016.myasp.net;Initial Catalog=DB_A1A07A_LTRS;User ID=DB_A1A07A_LTRS_admin;Password=prek21893" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5016.myASP.NET;Initial Catalog=DB_A1A07A_LTRS;User ID=DB_A1A07A_LTRS_admin;Password=prek21893" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LTRSConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5016.myASP.NET;Initial Catalog=DB_A1A07A_LTRS;User Id=DB_A1A07A_LTRS_admin;Password=prek21893;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LTRSConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sql5016.myasp.net;Initial Catalog=DB_A1A07A_LTRS;User ID=DB_A1A07A_LTRS_admin;Password=prek21893</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>